.main {
    display: flex;
    justify-content: space-between;
    margin-left: 100.26px;
    margin-right: 234.26px;
}

.logo {
    color: #D7068B;
    font-weight: 700;
    font-size: 48px;
    line-height: 44.16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.families-txt {
    color: #646363ff;
    font-family: Clio Bold;
    font-size: 21.6px;
    font-weight: 700;
    line-height: 21.6px;
    /* text-align: left; */
    /* margin-right: 8rem;
    margin-top: 2.5rem; */
}

/* Download component css */
.wrap-contrainer {
    display: flex;
    padding: 15px 0 0 0;
    border-radius: 8rem;
    gap: 1.8rem;
    align-content: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.windows-width {
    width: 18rem;
}

.dynaBG {
    background-color: #cecbc766;

}

.mac-width {
    width: 14rem;
}

.linux-width {
    width: 16rem;
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.center-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy_part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}

.text-center {
    display: flex;
    justify-content: center;
    width: 34%;
    font-size: 15px;
    text-align: center;
    font-weight: 700;
}

.cmd {
    border: 3px solid #dcdcdc;
    width: 100%;
    max-width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-top: 20px;
}

.copy-logo {
    width: 24px;
    margin-right: 10px;
}

.command-text {
    flex-grow: 1;
    margin: 0;
    padding: 0 10px;
    font-weight: 600;
    font-size: 15px;
}


.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.download-block-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.buttons-downloads {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 10px;
}

.buttons-downloads .btn {
    padding: 0.5rem 0.5rem;
    height: 5.4rem;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 1rem;
}

.buttons-downloads .btn svg,
.buttons-downloads .btn img {
    margin-right: 0.5rem;
}

.txt {
    font-size: large;
}

.download-block {
    margin-bottom: 0.5rem;

    h2 {
        font-size: 2.4rem;
        font-weight: 600;
        margin-bottom: 2.2rem;
    }

    p {
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-weight: 400;
        margin: 0;
    }
}

.download-banner-section {
    display: flex;
    align-items: center;
}

.download-banner-section {
    align-items: flex-start;
}

.download-block {
    p {
        font-size: 18px;
    }
}

.buttons-downloads {
    display: flex;
    align-items: center;
    column-gap: 2rem;
    margin-bottom: 2rem;

    .btn {
        padding: 0.5rem 2.8rem;
        height: 4.4rem;
        display: flex;
        align-items: center;
    }
}

.buttons-downloads {
    .btn {
        font-size: 1.6rem;
    }
}

.buttons-downloads {
    column-gap: 1rem;

    .btn {
        min-width: 20.3rem;
        font-weight: 500;
    }

    .btn+.btn {
        margin-left: 0;
    }
}

.title-home {
    font-size: 90px;
    font-weight: 700;
    line-height: 117.76px;
    text-align: left;
    color: #D7068B;
    margin-top: 13rem;
}

.btn {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 2rem;
    background: #D7068B;
    border: 1px solid pink;
    color: #fff;
    border-radius: 10rem;
    min-width: 10rem;

}

.btn:hover {
    background: #D7068B;
    color: #fff;
    border: 1px solid#D7068B;
}

.store-btn {
    min-width: 2rem;
    background-color: gray;
    font-size: 10px;
    padding: 2px;
}



.download-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.download-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 0 10px;
    background-color: #555555;
    /* Grey background color */
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.download-button img {
    height: 24px;
    margin-right: 10px;
}

.download-button span {
    font-size: 12px;
    display: block;
    text-align: left;
}

.download-button span.title {
    font-weight: bold;
    font-size: 16px;
}

.download-button.apple {
    background-color: #555555;
    /* Apple button color */
}

.download-button.google {
    background-color: #4285F4;
    /* Google button color */
}


/* START FOOTER CSS */

.custom-container {
    margin-top: 25rem;
}

/* Base styles for larger screens */
.custom-hr {
    width: 80vw;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(80, 60, 130, 0.7) 47.1%, rgba(255, 255, 255, 0) 100%);
    height: 2px;
}

.footer-container {
    padding: 20px 0;
}

.footer-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 4rem;
}

.footer-logo h1 {
    color: #D7068B;
    font-weight: bold;
    font-size: 3rem;
}

.footer-logo p {
    margin-top: 10px;
    color: #333333;
    max-width: 100%;
    font-size: 1.3rem;
}

.footer-links {
    margin-top: 2rem;
    font-size: 1.3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    font-weight: 500;
}

.footer-links a {
    color: #333333;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* Responsive styles for tablets */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .custom-container {
        margin-top: 15rem;
    }

    .custom-hr {
        width: 90vw;
    }

    .footer-logo h1 {
        font-size: 2.5rem;
    }

    .footer-logo p,
    .footer-links {
        text-align: center;
    }
}

/* Responsive styles for mobile devices */
@media (max-width: 480px) {
    .footer-content {
        gap: 1.5rem;
    }

    .custom-container {
        margin-top: 10rem;
    }

    .custom-hr {
        width: 95vw;
    }

    .footer-logo h1 {
        font-size: 2rem;
    }

    .footer-logo p,
    .footer-links {
        font-size: 1rem;
    }

    .footer-links {
        gap: 1rem;
    }
}


/* END FOOTER CSS */

.cpr {
    margin-right: 4rem;
    font-size: 18.76px;
    font-weight: 700;
    margin-bottom: 4rem;
}

.os-text {
    font-weight: bold;
    font-size: 24px;
}

@media (max-width: 991px) {
    .title-home {
        font-size: 60px;
        text-align: center;
    }

    .windows-width {
        width: 15rem;
        margin-left: 2rem;
    }

    .mac-width {
        width: 10rem;
    }

    .linux-width {
        width: 12rem;
    }

    .os-text {
        font-size: 18px;
    }

    .text-center {
        margin-top: 2rem;
        width: 90%;
    }

    .download-buttons {
        width: 400px;
    }
}

@media (max-width: 1200px) {
    .title-home {
        font-size: 60px;
        text-align: center;
    }

    .windows-width {
        width: 15rem;
        margin-left: 2rem;
    }

    .mac-width {
        width: 10rem;
    }

    .linux-width {
        width: 12rem;
    }

    .os-text {
        font-size: 18px;
    }

    .text-center {
        margin-top: 2rem;
        width: 70%;
    }

    .download-buttons {
        width: 400px;
    }
}