a {
    text-decoration: none;
}

.center {
    display: flex;
    align-items: center;
}

body {
    overflow-x: hidden;
}

.sub-title {
    font-size: 70px;
    font-weight: 700;
    line-height: 67.2px;
    width: 750px;
    text-align: center;
    margin-top: 2rem;
    line-height: 100px;
}

.sub-title2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 67.2px;
    width: 750px;
    text-align: center;
    margin-top: 2rem;
    line-height: 100px;
}

.sub-txt {
    width: 750px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-left: 25rem;
}

.img-fam1 {
    position: relative;
    right: 35%;
    z-index: 1;
}

.img-fam2 {
    position: relative;
    left: 18%;
    z-index: 2;
}

.img-fam3 {
    position: relative;
    /* right: 50%; */
    top: 300%;
    z-index: 1;
}

.img-fam4 {
    position: relative;
    /* right: 50%; */
    /* top: 390%; */
    z-index: 2;
}

.ft {
    font-size: 20px;
    font-weight: 600;
    line-height: 3rem;
}


.faq-cont {
    margin-top: 4rem;
    background-color: #FFEEF7;
    height: 733px;
}

.faq-q {
    height: 510px;
    top: 645px;
    left: 265px;
    background: #f7f7f7;
    padding: 4rem;
    gap: 3rem;
    width: 90%;
    margin-left: 3rem;
}

.accordian {
    width: 100%;
    width: 640px;
}

.accordian button {
    font-size: 25px;
    font-weight: 700;
}

.faq-container {
    background: #FFEEF7;
}

.faq-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.last-updated {
    color: #FF6D00;
    font-size: 18px;
    font-weight: 500;
}

.terms-title {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 6rem;
}


.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.inner-container {
    width: 1076px;
    height: 881px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    overflow-y: auto;
    font-weight: 500;
}

.terms-list {
    list-style-type: decimal;
    padding-left: 20px;
}

.terms-list li {
    margin-bottom: 15px;
}

.terms-list li p,
.terms-list li ul {
    margin-top: 2px;
}

.terms-list li ul {
    list-style-type: disc;
    margin-left: 20px;
}

.disclaimer {
    margin-top: 20px;
    font-size: 14px;
    color: #555555;
}

.display-col {
    display: flex;
    flex-direction: row;
}

.faq {
    margin-top: "6rem";
    margin-bottom: "4rem";
}


.pro {
    min-width: 555px;
    height: 526px;
    margin-top: 15rem;
    margin-left: 100px;
}

@media (max-width: 991px) {

    .faq {
        margin: 0;
    }

    .display-col {
        flex-direction: column;
        align-items: center;
    }

    .display-col img {
        width: 500px;
    }

    .faq-header {
        margin-top: 10px;
    }

    .inner-container {
        margin-top: 3rem;
    }
}

.adult-margin{
    margin-top: 14rem;
}
@media (min-width: 900px) and (max-width: 1200px) {
    .faq {
        margin: 0;
    }

    .display-col {
        flex-direction: column;
        align-items: center;
    }

    .display-col img {
        width: 500px;
    }

    .faq-header {
        margin-top: 10px;
    }

    .inner-container {
        margin-top: 3rem;
    }
}


@media (min-width: 1200px) and (max-width: 1500px) {

    .img-fam2 {
        top: 190%;
        width: 500px;
    }

    .img-fam3 {
        right: 20%;
    }

    .img-fam4 {
        margin-top: 20rem;
       right: 90%;
    }

    .adult-margin{
        margin-top: 44rem;
    }
}

@media (min-width: 1500px) and (max-width: 4000px) {
    .img-fam2 {
        width: 500px;
    }
    .img-fam3{
        right: 25%;
    }

    .img-fam4{
        width: fit-content;
        margin-top: 25rem;
        right: 90%;
    }

    .adult-margin{
        margin-top: 44rem;
    }
}